# Kitty backup config
kitty/.config/kitty.conf.bak

# Vim plugins
vim/.vim/plugged/*
vim/.vim/autoload/plug.vim.old

# Junk
release/
log.txt

# This intsall script was stupid. not gonna maintain any more
archive/old.tar
