[Unit]
Description=Spotify Track Change Notifications with Album Art

[Service]
ExecStart=/usr/bin/spotify-notify
Restart=on-failure

[Install]
WantedBy=default.target
